name: Terraform CI/CD

on:
  pull_request:
  push:
    branches: [ master ]
  workflow_dispatch:
    inputs:
      confirm:
        description: "Type yes to confirm Terraform apply"
        required: true
        default: ""

permissions:
  id-token: write
  contents: read

jobs:
  plan:
    name: Terraform Plan
    runs-on: ubuntu-latest
    if: github.event_name != 'workflow_dispatch'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
  
      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::363934772033:role/gh-oidc-role
          aws-region: us-east-2
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.7

      - name: Terraform Init
        working-directory: dev
        run: terraform init

      - name: Terraform Plan
        working-directory: dev
        run: terraform plan -out=tfplan

      - name: Upload plan artifact
        uses: actions/upload-artifact@v4
        with:
          name: terraform-plan
          path: tfplan

  apply:
    name: Terraform Apply (Manual)
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch'

    steps:
      - name: Validate confirmation
        run: |
          if [ "${{ github.event.inputs.confirm }}" != "yes" ]; then
            echo "Confirmation failed. You must type yes."
            exit 1
          fi

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download plan artifact
        uses: actions/download-artifact@v4
        with:
          name: terraform-plan

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::363934772033:role/gh-oidc-role
          aws-region: us-east-2

      - name: Terraform Init
        working-directory: dev
        run: terraform init

      - name: Terraform Apply
        working-directory: dev
        run: terraform apply tfplan






